* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif, monospace;
}

:root {
    --bgcolor: #050c1a;
    --cardbgcolor: #13182f;
    --textColor: white;
    --quotelogoColor: #8B5CF6;
    --livelogo-color: #3B82F6;
    --searchinput-color: #161f31;
    --posterlogo-color: #22C55E;
    --jobposter-footer-color: #1c2926;
    --heart-color:red;
    --quote-body-color: linear-gradient(270deg, #1e2546, #232c52);
}

body {
    /* height: 90vh; */
    background-color: var(--bgcolor);    
}

.header {
    display: flex;
    align-items: center;
    color: var(--textColor);
    height: 80px;
    padding: 30px;
    margin-top: 20px;
    gap: 20px;
    /* background-color: red; */
}


.logoText {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

/* Style for Cards */

/* .cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
} */

.cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 30px;
    padding-bottom: 0;
}

/* Quote Card */

.randomQuote-card,
.liveSearch-card,
.job-poster {
    background-color: var(--cardbgcolor);
    color: var(--textColor);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 12px;
}


/* Quotecard Header */

.cardquote-logo {
    background-color: var(--quotelogoColor);
    padding: 15px;
    font-size: 20px;
    border-radius: 50%;
}

.quoteHeader {
    display: flex;
    gap: 12px;
}

.quoteTitle {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.quoteTitle h2 {
    color: var(--quotelogoColor);
    font-size: 18px;
}


.secondText-line {
    font-size: 15px;
}

/* Quotecard Body */

.quoteBody {
    background-color: var(--quote-body-color);
}

.quote-comma {
    color: var(--quotelogoColor);
}

/* Quotecard Footer */


.quotefirst-footer {
    display: flex;
    align-items: center;
    gap: 15px;
}

.quoteActions button {
    background-color: var(--quotelogoColor);
    padding: 10px;
    font-size: 15px;
    border-radius: 8px;
    color: var(--textColor);
    display: flex;
    gap: 10px;
}

.countDown {
    display: flex;
    gap: 10px;
    font-size: 18px;
}

.countDown i {
    color: var(--quotelogoColor);
}

.quoteFooter {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


/* LiveSearch Card */


.liveSearch-header {
    /* justify-content: center; */
    display: flex;
    /* align-items: center; */
    gap: 12px;
}


.liveSearch-logo i {
    background-color: var(--livelogo-color);
    padding: 15px;
    font-size: 18px;
    border-radius: 50%;
}

.liveSearch-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.liveSearch-text h2 {
    color: var(--livelogo-color);
    font-size: 18px;
}


.search-input {
    position: relative;

}

.search-input input {
    font-size: 15px;
    padding: 12px;
    background-color: var(--searchinput-color);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    width: 28vw;
    padding-left: 44px;
    color: var(--textColor);
}

.search-input i {
    position: absolute;
    font-size: 18px;
    left: 14px;
    top: 15px;
    opacity: 0.6;

}

/* For .job-poster Card */

.jobposter-body {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.jobposter-body h3 {
    font-size: 14px;
}

.jobposter-header {
    display: flex;
    gap: 12px;
}

.jobposter-logo i {
    background-color: var(--posterlogo-color);
    padding: 15px;
    height: 50px;
    width: 50px;
    font-size: 22px;
    border-radius: 50%;
}

.jobposter-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.jobposter-text h2 {
    font-size: 18px;
    color: var(--posterlogo-color);
}

.task-title {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.task-title input {
    font-size: 15px;
    padding: 12px;
    padding-left: 44px;
    border-radius: 8px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    background-color: var(--searchinput-color);
    width: 28vw;

}

.task-title i {
    position: absolute;
    left: 16px;
    top: 50%;
    font-size: 20px;
    opacity: 0.6;
}


.body-description {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
}

.body-description textarea {
    padding: 13px;
    border-radius: 12px;
    background-color: var(--searchinput-color);
    height: 20vh;
    font-size: 14px;
    padding-left: 44px;
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.body-description i {
    position: absolute;
    left: 16px;
    top: 38px;
    opacity: 0.6;
}

.post-task-button {
    position: relative;
}

.post-task-button i {
    position: absolute;
    top: 35%;
    left: 35%;
}

#post-task {
    background-color: var(--posterlogo-color);
    padding: 14px;
    font-size: 14px;
    font-weight: bold;
    color: var(--textColor);
    border-radius: 12px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    width: 28vw;
}

.job-poster-footer {
    background-color: var(--jobposter-footer-color);
    padding: 30px;
    width: 28vw;
    border-radius: 12px;
    display: flex;
    gap: 12px;
    /* justify-content: center; */
    align-items: center;
}

.poster-footer-icon i {
    font-size: 50px;
    border-radius: 50%;
    border: 3px dashed var(--posterlogo-color);
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poster-footer-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
 
.poster-footer-text h3 {
    font-size: 16px;
}


.footer-text {
    color: var(--textColor);
    text-align: center;
    padding: 20px;
}

.footer-text i {
    color: var(--heart-color) ;
}

